@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    padding-bottom: 12px 18px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    background-color: #9b140b;

}

.hero{
    background-image: url("../imagenes/fondo_principal.jpg");
    height: 60vh;

}

footer{
    
    background-color: #9b140b;
    padding: 1em 0;
    justify-content:space-between;
    color:white;
    margin-top: auto;
    display: flex; 
    flex-direction: row; 
    bottom: 0;
    width: 100%;
    
}


article{
width: 100%;
color: #f4fcf3;
background-color: #f4fcf3;
grid-area: contenedor;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 100px 500px;
grid-template-areas: 
"columna columna columna columna"
"columnaizq columnaizq columnader columnader";

}

#columna{
    width: 100%;
    background-color: rgb(233, 99, 22);
    grid-area: columna;
    text-align: center;
    }

#columnaizq{
    width: 100%;
    background-color: rgb(27, 14, 58);
    grid-area: columnaizq;
    
    
    }


#columnader{
        width: 100%;
        background-color: rgb(27, 14, 58);
        grid-area: columnader;
        
        
        }

        @media (max-width: 576px) {

            article{
                display: grid;
                grid-template-rows: 100px 300px  ;
                grid-template-areas: 
                "columna columna columna columna"
                "columnaizq columnaizq columnaizq columnaizq"
                "columnader columnader columnader columnader";}

            #columna{background-color: blanchedalmond;
                color: #010500;
 
            }
            #columnaizq{ background-color: antiquewhite;
                color: #010500;
            }

            #columnader{ background-color: #f4fcf3;
        }
    }
