@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    padding-bottom: 12px 18px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    background-color: #9b140b;

}

.hero{
    background-image: url("../imagenes/fondo_principal.jpg");
    height: 60vh;

}

footer{
    
    background-color: #9b140b;
    padding: 1em 0;
    justify-content:space-between;
    color:white;
    margin-top: auto;
    display: flex; /*se llama al flex*/
    flex-direction: row; /*direccion del flex*/
    bottom: 0;
    width: 100%;
    
}