footer {
	background-color: $background-color_1;
	padding: 1em 0;
	justify-content: space-between;
	color: $color_1;
	margin-top: auto;
	display: flex;
	flex-direction: row;
	bottom: 0;
	width: 100%;
}